extends layout

block content
  h1= title
  - let mobilePhones=[{brand:"Iphone",model:"Se",cost:"400",color:"White"},{brand:"Samsung",model:"edge",cost:"600",color:"Blue"},{brand:"OnePlus",model:"8",cost:"800",color:"Black"},{brand:"MI",model:"note5pro",cost:"200",color:"Gold"}]
  div(class="container-fluid")
  div(class="row")
    each mobilePhone,index  in mobilePhones
      div(class="col-sm-2 bg-primary m-2 p-4"  onclick=`buy(${index})`) #{mobilePhone.brand} -- #{mobilePhone.model} -- #{mobilePhone.cost} -- #{mobilePhone.color}
  script.
    function buy(itemNumber)
      {
        alert(`You purchased Item ${itemNumber+1}`)
      }
      