extends layout

block content
  h1= title
  p #{query.rows}X#{query.cols}
  - let rows=Number(query.rows);let cols=Number(query.cols)
  - if(!Number.isInteger(rows) || !Number.isInteger(cols)){
      p(class="p-3 mb-2 bg-danger text-white") Rows and columns should be Integer
  - }
  -  if(!(rows>=1 && rows<5)){
        p(class="p-3 mb-2 bg-danger text-white") Number of rows should be in range 1 to 4
  - }
  -  if(!(cols>=1 && cols<5)){
        p(class="p-3 mb-2 bg-danger text-white") Number of columns should be in range 1 to 4
  - }
  - if((rows>=1 && rows<5)&&(cols>=1 && cols<5)) {
    table(id="outer" class="table   table-striped table-responsive")
        - for(let i=0;i<rows;i++){
            tr#middle
                - for(let j=0;j<cols;j++){
                    td= i+j
                - }
        - }
  - }